body {
  font-family: arial;
  margin-right: 0px;
  margin-left: 0px;
}
marquee {
  display: flex;
  padding: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 100%;
  vertical-align: baseline;
}
